@charset "UTF-8";

.adminButton{
	padding: 15px 32px;
}
.titleText{
	float: left;
}

.buttonsRight{
	float: right;
	padding-top: 20px;
}

.filters{
	float: left;
	clear: left;
	padding: 15px;
	
}

.products{
	float: right;
	padding-right: 500px;
	padding-top: 15px;
}

.productListing{
	width: 500px; /* maybe remove once are propegating table */
}