@charset "UTF-8";

/* .adminButton{
	padding: 15px 32px;
}
.titleText{
	float: left;
} 

.buttonsRight{
	float: right;
	padding-top: 20px;
} 
*/
.filters {
	float: left;
	clear: left;
	padding: 5px 15px;
	background: white;
	border: 1pt solid lavender;
	border-radius: 7px;
}

.filters th {
	padding: 10px 0;
	border-bottom: solid lavender 1px;
}

.filters tr>td {
	padding: 10px;
}

/* .products{
	float: right;
	padding-right: 500px;
	padding-top: 15px;
}

.productListing{
	width: 500px;
} 
 */
.selections {
	display: inline-block;
}

#search {
	/* float:left; */
	flex: 1;
}

#sort {
	padding-right: 25px;
}

#all, #sort {
	 margin-left: 10px;
	/* float:right; */
}

input[type="submit"], button, select {
	font-family: "Prata", serif;
	padding: 10px 15px;
	color: black;
	border-radius: 4px;
	border: 1pt solid gray;
	background-color: lavender;
	margin: 5px;
}

input[type="submit"]:hover, button:hover {
	background-color: rgb(189, 189, 211);
	color: white;
	border: 1pt dashed gray;
}

input[type="text"] {
	width: 300px;
	border: 1pt solid gray;
	border-radius: 7px;
	margin-left: 5px;
	padding: 10px;
}

#selectionBar {
	display: flex;
	margin-left: 200px;
	padding: 0 20px;
	background: white;
	border: 1pt solid lavender;
	border-radius: 7px;
}